body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right, rgb(245, 61, 230), rgb(164, 126, 251), rgb(25, 197, 240));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
